.footer-section {
     background-color: #195046;
    width: 100%;
    color: #fff;
    padding: 40px 0px;
    font-family: 'Inter', sans-serif;


}
.footer-logo {
    width: 200px;
    height: 80px;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;

}
.footer-logo img {
    height: 200px;
    object-fit: contain;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-column {
    flex: 1;
    text-align: left;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-column p {
    font-size: 1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-column .material-icons {
    height: 28px;
    width: 28px;
    margin-right: 10px;
    color: #2DD574;
    font-size: 1.2em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul a:hover {
    color: #2DD574;
}

.footer-social a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #2DD574;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    font-size: 0.9em;
}

/* Responsive Design para móviles */
@media (max-width: 803px) {


    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-logo {
        width: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .footer-logo img {
        height: 80px;
        object-fit: contain;
    }

    .footer-column {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .footer-column p {
        justify-content: center;
    }

    /* Aquí los íconos se centran y se alinean en fila */
    .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 10px;
        flex-wrap: wrap; /* para que no se salgan en pantallas muy pequeñas */
    }

    .footer-social a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6em;
        color: #fff;
        transition: color 0.3s;
    }

    .footer-social a:hover {
        color: #2DD574;
    }

    .footer-column h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .footer-column ul li {
        margin-bottom: 8px;
    }

    .footer-section {
        padding: 30px 15px;
    }
}
