.faq-section {
    padding: 60px 0px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Inter', sans-serif;
        width: 100%; /* ocupa todo el ancho */

}

.faq-content {
    max-width: 1200px;
    margin: 0 auto;
}

.faq-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.faq-icon img {
    height: 60px;
    margin-right: 0px;
}

.faq-header h2 {
    font-size: 2.5em;
    color: #263D67;
    margin: 0;
    font-weight: 700;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    background: #E0FDF2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-question {
    padding: 15px 20px;
    font-size: 1.2em;
    color: #263D67;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-arrow {
    transition: transform 0.3s;
    font-size: 1.2em; /* tamaño de la flecha */
    margin-left: 10px; /* separa un poco del texto */
    display: inline-flex;
}

.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

.faq-answer {
    padding: 0 20px 15px;
    color: #263D67;
    font-size: 1em;
    display: none;
}

.faq-item.active .faq-answer {
    display: block;
}

/* Responsive Design para móviles */
@media (max-width: 768px) {
    .faq-header {
        flex-direction: column;
        text-align: center;
    }

    .faq-icon img {
        text-align: center;
        margin-bottom: 10px;
    }

    .faq-header h2 {
        text-align: center;
        font-size: 2em;
    }

    .faq-question {
        font-size: 1em;
        padding: 10px 15px;
    }

    .faq-answer {
        font-size: 0.9em;
        padding: 0 15px 10px;
    }
}